{% extends "base.html" %} {% block title %}Portfolio{% endblock %} {% block
content %}
<nav>
    <small>
        <a href="/tuts">Micro Tuts</a> / <a href="/notes">Notes</a> /
        <a href="https://tristonarmstrong.com/social" target="_blank">Social</a>
    </small>
</nav>
<hr />

<h1>Triston Armstrong 🫰</h1>
<p>
    Full Stack Software Developer
    <a target="_blank" href="https://ventrahealth.com">@VentraHealth</a>
</p>
<p>
    I am a self taught Full Stack Software Developer with an unhealthy addiction
    to solving problems using code.
</p>

<h2>🤹 Skills</h2>
<p>
    <a
        href="https://www.typescriptlang.org/docs/handbook/intro.html"
        target="_blank"
        style="text-decoration: none !important"
        >Typescript</a
    >
    |
    <a
        href="https://docs.python.org/3/"
        target="_blank"
        style="text-decoration: none !important"
        >Python</a
    >
    |
    <a
        href="https://doc.rust-lang.org/std/index.html"
        target="_blank"
        style="text-decoration: none !important"
        >Rust</a
    >
    |
    <a
        href="https://developer.mozilla.org/en-US/docs/Web/javascript#reference"
        target="_blank"
        style="text-decoration: none !important"
        >Javascript</a
    >
</p>

<h2>💼 Jobs</h2>
<div>
    <h3>
        Ventra Health
        <small style="font-weight: normal"><i> / May '23 - Present</i></small>
    </h3>
    <p>Maintaining and iterating on an internal web application</p>
</div>

<div>
    <h3>
        Randstad Technologies<small style="font-weight: normal"
            ><i> / May '22 - May '23</i></small
        >
    </h3>
    <p>Built Web Applications for external clients</p>
</div>

<div>
    <h3>
        Damiano Global Corporation<small style="font-weight: normal"
            ><i> / July '20 - Nov. '21</i></small
        >
    </h3>
    <p>Built Web Applications for external clients</p>
</div>

<div>
    <h3>
        Makers Ladder LLC<small style="font-weight: normal"
            ><i> / Dec. '19 - Apr. '22</i></small
        >
    </h3>
    <p>Did some thangs</p>
</div>

<h2>🚧 Projects</h2>
<p>
    <a
        href="https://github.com/tristonarmstrong/SolarBatteryMonitorApi"
        target="_blank"
        >Solar Battery Monitor API</a
    >
    |
    <a
        href="https://github.com/tristonarmstrong/armstrong-editor"
        target="_blank"
        >Armstrong Editor</a
    >
    |
    <a
        href="https://github.com/tristonarmstrong/web-window-manager"
        target="_blank"
        >Web Window Manager</a
    >
    |
    <a
        href="https://github.com/tristonarmstrong/component-test-helper"
        target="_blank"
        >Component Test Helper</a
    >
    |
    <a href="https://github.com/tristonarmstrong/hive-dapp" target="_blank"
        >Hive DAPP</a
    >
    |
    <a
        href="https://github.com/tristonarmstrong/KivyTwistedInputCapture"
        target="_blank"
        >Kivy Twisted Input Capture</a
    >
    |
    <a
        href="https://github.com/tristonarmstrong/PlantMonitorNodeMCU"
        target="_blank"
        >Plant Monitor Node MCU</a
    >
    |
    <a
        href="https://github.com/tristonarmstrong/oppo_bdp_103_CLI"
        target="_blank"
        >Oppo BDP 103 CLI</a
    >
    |
    <a
        href="https://github.com/tristonarmstrong/sony_bravia_pro_display_mock_server"
        target="_blank"
        >Sony Bravia Pro Server</a
    >
    |
    <a href="https://github.com/tristonarmstrong/chat.io" target="_blank"
        >Chat IO</a
    >
    |
    <a href="https://github.com/tristonarmstrong/zipapp" target="_blank"
        >Zip Code Distance App</a
    >
</p>

<h2>🧰 Tools</h2>
<p>
    <a href="" target="_blank">CSS-Tricks</a>
    |
    <a href="" target="_blank">Indie Hackers</a>
    |
    <a href="" target="_blank">W3Schools</a>
    |
    <a href="https://simpleicons.org" target="_blank">Simple Icons</a>
    |
    <a href="https://heroicons.com" target="_blank">Hero Icons</a>
    |
    <a href="https://nerdcave.com/tailwind-cheat-sheet" target="_blank"
        >Tailwind Cheatsheet</a
    >
    |
    <a href="https://tw-elements.com" target="_blank">Tailwind Elements</a>
    |
    <a href="https://tailwindcomponents.com" target="_blank"
        >Tailwind Components</a
    >
</p>

<h2>🎨 NoCss</h2>
<p>
    <a href="https://watercss.kognise.dev" target="_blank">Water CSS</a>
    |
    <a href="https://andybrewer.github.io/mvp/" target="_blank">MPV CSS</a>
    |
    <a href="https://hakanalpay.com/bahunya/" target="_blank">Bahunya</a>
    |
    <a href="https://mblode.github.io/marx/" target="_blank">Marx</a>
    |
    <a href="https://oxal.org/projects/sakura/" target="_blank">Sakura</a>
    |
    <a href="https://yegor256.github.io/tacit/" target="_blank">Tacit</a>
    |
    <a href="https://newcss.net" target="_blank">New CSS</a>
    |
    <a href="https://marcop135.github.io/bullframe.css/" target="_blank"
        >Bullframe CSS</a
    >
    |
    <a href="https://markdowncss.github.io/modest/" target="_blank"
        >Markdown CSS (modest)</a
    >
</p>

<footer>
    <a href="https://github.com/tristonarmstrong">Github</a>
    |
    <a href="https://www.linkedin.com/in/triston95strong/">LinkedIn</a>
    |
    <a href="https://gitlab.com/Tarmstrong95">GitLab</a>
    |
    <a href="https://twitter.com/triston_armstr">Twitter</a>
    |
    <a href="https://fosstodon.org/@TristonArmstrong">Fosstodon</a>
    <p><small>©2023-2024 Triston Armstrong. All rights reserved.</small></p>
</footer>
{% endblock %}
