{% extends "base.html" %}
{% block title %}Portfolio{% endblock %}

{% macro skill(link, label)%}
<a href="{{link}}" target="_blank" style="text-decoration: none !important">
  {{label}}
</a>
{% endmacro %}

{% macro job(title, date, description)%}
<div>
  <h3>{{title}} 
    <small style="font-weight: normal"><i> / {{date}}</i></small>
  </h3>
  <p>{{description}}</p>
</div>
{% endmacro %}

{% block content %}
<nav>
  <small>
    <a href="/tuts">Micro Tuts</a> / <a href="/notes">Notes</a> /
    <a href="https://tristonarmstrong.com/social" target="_blank">Social</a>
  </small>
</nav>
<hr />

<h1>Triston Armstrong 🫰</h1>
<p>
  Full Stack Software Developer
  <a target="_blank" href="https://ventrahealth.com">@VentraHealth</a>
</p>
<p>
  I am a self taught Full Stack Software Developer with an unhealthy addiction
  to solving problems using code.
</p>

<h2>🤹 Skills</h2>
<p>
  {% call skill("https://www.typescriptlang.org/docs/handbook/intro.html", "Typescript") %}
  | {% call skill("https://docs.python.org/3/", "Python") %}
  | {% call skill("https://doc.rust-lang.org/std/index.html", "Rust") %}
  | {% call skill("https://developer.mozilla.org/en-US/docs/Web/javascript#reference","Javascript") %}
</p>

<h2>💼 Jobs</h2>
{% call job("Ventra Health","May '23 - Present","Maintaining and iterating on an internal web application") %}
{% call job("Randstad Technologies", "May '22 - May '23", "Built Web Applications for external clients") %}
{% call job("Damiano Global Corporation", "July '20 - Nov. '21", "Built Web Applications for external clients") %}
{% call job("Makers Ladder LLC", "Dec. '19 - Apr. '22", "Did some thangs") %}

<h2>🚧 Projects</h2>
<p>
  <a href="https://github.com/tristonarmstrong/SolarBatteryMonitorApi" target="_blank">Solar Battery Monitor API</a>
  |
  <a href="https://github.com/tristonarmstrong/armstrong-editor" target="_blank">Armstrong Editor</a>
  |
  <a href="https://github.com/tristonarmstrong/web-window-manager" target="_blank">Web Window Manager</a>
  |
  <a href="https://github.com/tristonarmstrong/component-test-helper" target="_blank">Component Test Helper</a>
  |
  <a href="https://github.com/tristonarmstrong/hive-dapp" target="_blank">Hive DAPP</a>
  |
  <a href="https://github.com/tristonarmstrong/KivyTwistedInputCapture" target="_blank">Kivy Twisted Input Capture</a>
  |
  <a href="https://github.com/tristonarmstrong/PlantMonitorNodeMCU" target="_blank">Plant Monitor Node MCU</a>
  |
  <a href="https://github.com/tristonarmstrong/oppo_bdp_103_CLI" target="_blank">Oppo BDP 103 CLI</a>
  |
  <a href="https://github.com/tristonarmstrong/sony_bravia_pro_display_mock_server" target="_blank">Sony Bravia Pro
    Server</a>
  |
  <a href="https://github.com/tristonarmstrong/chat.io" target="_blank">Chat IO</a>
  |
  <a href="https://github.com/tristonarmstrong/zipapp" target="_blank">Zip Code Distance App</a>
</p>

<footer>
  <a href="https://github.com/tristonarmstrong">Github</a>
  |
  <a href="https://www.linkedin.com/in/triston95strong/">LinkedIn</a>
  |
  <a href="https://gitlab.com/Tarmstrong95">GitLab</a>
  |
  <a href="https://twitter.com/triston_armstr">Twitter</a>
  |
  <a href="https://fosstodon.org/@TristonArmstrong">Fosstodon</a>
  <p><small>©2023-2024 Triston Armstrong. All rights reserved.</small></p>
</footer>
{% endblock %}
