{% extends "base.html" %}
{% block title %}Portfolio{% endblock %}

{% macro skill(link, label) %}
<a href="{{link}}" target="_blank" style="text-decoration: none !important">
  {{label}}
</a>
{% endmacro %}

{% macro job(title, date, description) %}
<div class="rounded-xl my-1 px-4 py-2 bg-white bg-opacity-5">
  <h3 class="my-1 text-white text-opacity-40">{{title}} 
    <small style="font-weight: normal"><i> / {{date}}</i></small>
  </h3>
  <p class="my-1">{{description}}</p>
</div>
{% endmacro %}

{% macro project(link, label) %}
<div class="flex w-full items-baseline gap-1 my-1">
  <a href="{{link}}" target="_blank">{{label}}</a>
  <div class="flex-1 border border-dashed h-0 border-white border-opacity-20"></div>
  <a href="{{link}}" target="_blank">&#10238;</a>
</div>
{% endmacro %}


{% block content %}
<nav>
  <small>
    <a href="/tuts">Micro Tuts</a> / <a href="/notes">Notes</a> /
    <a href="https://tristonarmstrong.com/social" target="_blank">Social</a>
  </small>
</nav>
<hr />

<h1>Triston Armstrong 🫰</h1>
<p>
  Full Stack Software Developer
  <a target="_blank" href="https://ventrahealth.com">@VentraHealth</a>
</p>
<p>
  I am a self taught Full Stack Software Developer with an unhealthy addiction
  to solving problems using code.
</p>

<h2 class="text-white text-opacity-80">🤹 Skills</h2>
<p>
  {% call skill("https://www.typescriptlang.org/docs/handbook/intro.html", "Typescript") %}
  | {% call skill("https://docs.python.org/3/", "Python") %}
  | {% call skill("https://doc.rust-lang.org/std/index.html", "Rust") %}
  | {% call skill("https://developer.mozilla.org/en-US/docs/Web/javascript#reference","Javascript") %}
</p>

<h2 class="text-white text-opacity-80">💼 Jobs</h2>
{% call job("Ventra Health","May '23 - Present","Maintaining and iterating on an internal web application") %}
{% call job("Randstad Technologies", "May '22 - May '23", "Built Web Applications for external clients") %}
{% call job("Damiano Global Corporation", "July '20 - Nov. '21", "Built Web Applications for external clients") %}
{% call job("Makers Ladder LLC", "Dec. '19 - Apr. '22", "Did some thangs") %}

<h2 class="text-white text-opacity-80">🚧 Projects</h2>
{% call project("https://github.com/tristonarmstrong/SolarBatteryMonitorApi", "Solar Battery Monitor API")%}
{% call project("https://github.com/tristonarmstrong/armstrong-editor", "Armstrong Editor")%}
{% call project("https://github.com/tristonarmstrong/web-window-manager", "Web Window Manager")%}
{% call project("https://github.com/tristonarmstrong/component-test-helper", "Component Test Helper")%}
{% call project("https://github.com/tristonarmstrong/hive-dapp", "Hive DAPP")%}
{% call project("https://github.com/tristonarmstrong/KivyTwistedInputCapture", "Kivy Twisted Input Capture")%}
{% call project("https://github.com/tristonarmstrong/PlantMonitorNodeMCU", "Plant Monitor Node MCU")%}
{% call project("https://github.com/tristonarmstrong/oppo_bdp_103_CLI", "Oppo BDP 103 CLI")%}
{% call project("https://github.com/tristonarmstrong/sony_bravia_pro_display_mock_server", "Sony Bravia Pro Server")%}
{% call project("https://github.com/tristonarmstrong/chat.io", "Chat IO")%}
{% call project("https://github.com/tristonarmstrong/zipapp", "Zip Code Distance App")%}

<footer>
  <a href="https://github.com/tristonarmstrong">Github</a>
  |
  <a href="https://www.linkedin.com/in/triston95strong/">LinkedIn</a>
  |
  <a href="https://gitlab.com/Tarmstrong95">GitLab</a>
  |
  <a href="https://twitter.com/triston_armstr">Twitter</a>
  |
  <a href="https://fosstodon.org/@TristonArmstrong">Fosstodon</a>
  <p><small>©2023-2024 Triston Armstrong. All rights reserved.</small></p>
</footer>
{% endblock %}
